<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Game</h1>
    </div>
  </div>

  <div class="wrapper">
    <div class="listings">
      <a href="/game_listings">
        <div class="listings-card">
          <img src="images/listgame.jpg" >
          <h2 class="title-font">List Game</h2>
        </div>
      </a>

      <a href="/action_game">
        <div class="listings-card">
          <img src="images/action.jpg" >
          <h2 class="title-font">Action Game</h2>
        </div>
      </a>

      <a href="/strategy_game">
        <div class="listings-card">
          <img src="images/strategy.jpg" >
          <h2 class="title-font">Strategy Game</h2>
        </div>
      </a>

      <a href="/valve_game">
        <div class="listings-card">
          <img src="images/valve.png">
          <h2 class="title-font">Valve Game</h2>
        </div>
      </a>

      <a href="/free_game">
        <div class="listings-card">
          <img src="images/free.png" >
          <h2 class="title-font">FREE GAME</h2>
        </div>
      </a>

      <a href="/new_game">
        <div class="listings-card">
          <img src="images/new.jpg" >
          <h2 class="title-font">New GAME</h2>
        </div>
      </a>

      <a href="/goodrating_game">
        <div class="listings-card">
          <img src="images/good.png" >
          <h2 class="title-font">Good Rating GAME</h2>
        </div>
      </a>

      <a href="/byprice_game">
        <div class="listings-card">
          <img src="images/price.jpg" >
          <h2 class="title-font">Short By Price GAME</h2>
        </div>
      </a>


    </div>
  </div>
</body>
</html>